@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700');

$font-stack:  'Karla', sans-serif;
$clr-bg: #E6EDEC;
$clr-blue-green: #227B88;
$clr-grey: #717171;
$clr-grey-1: #838383;
$clr-black: #000;
$clr-white: #fff;
$clr-btn: #2451A3;
$clr-border: #979797;

* {
    box-sizing: border-box;
}

%text-shared {
    font-size: 15px;
    color: $clr-black;
    font-family: $font-stack;
    font-weight: 400;
    line-height: 19px;
}

.c-bottom {
    position: absolute;
    bottom: 0;
    font-size: 15px;
}

body {
    @extend %text-shared;
    background-color: $clr-bg;
}

.nav-custom{
    background-color: $clr-bg!important;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    font-size: 42px;
    color: $clr-blue-green;
    letter-spacing: -1.17px;
    font-weight: 700;
    line-height: normal;

}

.c-margin {
    margin-top: -70px;
}

.c-padding {
    padding: 0px;
}
.services {
    background-image: url(img/services-img.png);
    background-position: inherit;
    background-repeat: no-repeat;
    width: 62px;
    height: 94px;
}
p a, p a:hover {
    color: $clr-black;
}
.contact {
    background-image: url(img/contact-img.png);
    background-position: inherit;
    background-repeat: no-repeat;
    width: 72px;
    height: 96px;
}

.subscribe {
    background-image: url(img/subscribe-img.png);
    background-position: inherit;
    background-repeat: no-repeat;
    width: 54px;
    height: 96px;
}

.text-title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
}

.text-title-2 {
    font-size: 21px;
}
.text-sm-1 {
    @extend %text-shared;
    color: $clr-grey;
    font-size: 14px;
    line-height: normal;
}

.text-sm-2 {
    @extend %text-shared;
    color: $clr-grey;
    font-size: 15px;
}

.text-sm-3 {
    font-size: 9px;
}


a,a:hover {
    font-weight: 700;
    color: $clr-blue-green;
    letter-spacing: -0.27px;
}

p a span{
    color: $clr-black!important;
}
.img-shadow-1 {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.31);
}

.input-group-append .btn {z-index: 0;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $clr-black!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $clr-black!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $clr-black!important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $clr-black!important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: $clr-black!important;
}

::placeholder { /* Most modern browsers support this now. */
    color: $clr-black!important;
}

.form-control, .custom-input {
    @extend %text-shared;
    border-radius: 0rem;
    border: 1px solid $clr-border;
    height: 42px;
    background-color: $clr-white;
    text-align: left;
}

.custom-file-label::after{
    border-radius: 0rem;
    border-left: 1px solid $clr-btn;
    background-color: $clr-btn;
    color: $clr-white;
    height: 2.5rem;
    line-height: 25px;
}
.custom-file-label {
    @extend %text-shared;
    border-radius: 0rem;
    border: 1px solid $clr-border;
    height: 2.625rem;
    line-height: 27px;
}
.c-height {
    height: 70px;
}
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:visited,
.btn.btn-primary:focus {
    @extend %text-shared;
    background-color: $clr-btn;
    border-color: $clr-btn!important;
    border-radius: 0px;
    color: $clr-white;
    font-family: $font-stack;
    height: 40px;
    text-transform: uppercase;
}
